<ul class="header">
	<li class="header_li"><a href="/">Home</a>
	</li>
	<li class="header_li"><a href="/account">Account</a></li>
	<li class="header_li"><a href="">Quick</a></li>
	<li class="header_li"><a href="/prototype">Prototype</a></li>
	<li class="login"><input type="button" onclick="location.href='/signup'" value="Sign Up" /*class="myButton"*/ id= "signup"/></li>
	<li class="login"><input type="button" onclick="location.href='/login'" value="Login" /*class="myButton"*/ id= "signup"/></li>
	<li class="login"><input type="button" onclick="location.href='/logout'" value="Logout"
		id="signup"></li>
</ul>