<!DOCTYPE html>
<html>
<head>
<title>Bar Joker</title>
<link rel="stylesheet" type="text/css" href="../public/css/bj.css">
</head>
<body>
<h1>Bar Joker</h1>
<h2>Creating uncomfortable confrontations... for fun!</h2>
<p>Welcome to Bar Joker, where we force your friend to:</p>
<div class="dare">
</div>
<button class="myButton" id="easy">Easy</button>
<button class="myButton" id="medium">Medium</button>
<button class="myButton" id="hard">Hard</button>
<p>or else..</p>
<button class="myButton" id="punish">Punishment</button>
<form>
  Add your own: <input type="text" class="newDare" size=50px>
  <input type="button" value="Submit Easy" class="myButton" id="addE">
  <input type="button" value="Submit Medium" class="myButton" id="addM">
  <input type="button" value="Submit Hard" class="myButton" id="addH">
</form>
<script type="text/javascript" src="../public/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="../public/js/bj.js"></script>
</body>
</html>