<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body class="bg">
    <% include ../partials/header %>
    <div class="container-fluid">
      <div class="row text-center whiteText">
        <div class="col-md-6 col-sm-12" id="accountPanel">
          <br>
          <h2>Hello, <%= user[0].userName %>!</h2>
          <br>
          <p>Customize your dares here: <%= loggedIn %></p>
          <br>
          <input type="button" onclick="location.href='/customDares'" value="Custom Dares" class="btn btn-primary" />
          <br>
          <br>
          <p>Customize your successes here:</p>
          <br>

          <input type="button" onclick="location.href='/customSuccesses'" value="Custom Successes" class="btn btn-success" />
          <br>
          <br>
          <p>Don't forget to customize your punishments too:</p>
          <br>
          <input type="button" onclick="location.href='/customPunishments'" value="Custom Punishments" class="btn btn-danger" />
          <br>
          <!-- <p>
            <strong>id</strong>: <%= user[0].userId %><br>
          </p> -->
        </div>
        <div class="col-md-6 col-sm-12" id="playGame" onclick="location.href='/customGame'">
          <br>
          <br>
          <h2>Play Custom Game</h2>
          <br>
        </div>
      </div>
    </div>
    <div>
      
    </div>
 
    <% include ../partials/footer %>

    
  </body>
</html>