<!DOCTYPE html>
<html>
  <head>	
    <% include ../partials/head %>
  </head>
    <body>
    	<h1>Bar Joker</h1>
     	<% include ../partials/header %>
     	<button class="myButton" id='getDaresButton'>Get Dares</button>
     	<div class="fetchCheck"> 
     	</div>
     	<br>
     	<br>

     	<div class="dareCustom">
		</div>
		<br>
		<br>
		<button class="myButton" id="playCustom">Play</button>

     	<% include ../partials/footer %>
	</body>
</html>