<!DOCTYPE html>
<html>
  <head>	
    <% include ../partials/head %>
  </head>
    <body>
    	<h1>Bar Joker</h1>
     	<% include ../partials/header %>
     	<div class="fetchCheck"> 
     	</div>
        <div class="fetchCheck2"> 
        </div>
        <button class="myButton" id="playCustom">Play</button>
     	<br>
     	<br>
     	<div class="dareCustom">
		</div>
		<br>
        <div id="togglePun"> 
             Click to show punishment.               
        </div>
		<div class="punCustom">
        </div>

     	<% include ../partials/footer %>
	</body>
</html>