<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <h1>Bar Joker</h1>
    <% include ../partials/header %>
    <div>
      <p>Welcome to Bar Joker! Here, you can put your friends in uncomfortable situations, for fun!</p>
      <p>To play a quick game with the standard dares, click Quick Play.</p>
    </div>
    <input type="button" onclick="location.href='/prototype'" value="Quick Play" class="myButton" id= />
    
  

    <% include ../partials/footer %>

    
  </body>
</html>