<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/header %>
    <div class="container">
    
    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>
     
        <p class="signin">Sign In</p>
        <form action='/signup' method="post">
           <div class="form-group">
                <label>Username:</label>
                <input class="form-control" type="text" name="username" required />        
                <label>Email:</label>
                <input class="form-control" type="text" name="email" required/>   
                <label>Password:</label>
                <input class="form-control" type="password" name="password" required/>
                <br>
                <input type="submit" class="btn btn-primary" value="Submit" required/>
            </div>
        </form>
  
    <p>Already have an account? <a href="/login">Login</a></p>
    <p>Or go <a href="/">home</a>.</p>
    <% include ../partials/footer %>
    </div>

  </body>
</html>